body {
    background-color: lightgray;
    margin: 0px;
    border: solid red 3px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1, h3 {
  margin: 0px;
  text-align: center;
}

p {
  text-align: center;
}

.arrow{
  position: fixed;
  color: black;
  z-index: 1000;
  font-size: 3em;
  opacity: 0.3;

}

.arrow-left {
  top: 45%;
  left: 5%;
  width: 7%;
  transition: font-size 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
}

.arrow-left:hover {
  top: 44%;
  left: 2%;
  font-size: 4em;
  opacity: 0.9;
}

.arrow-left-JS-hover {
  top: 44%;
  left: 2%;
  font-size: 4em;
  opacity: 0.9;
}


.arrow-up {
  top: 5%;
  left: 48%;
  transition: font-size 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
}

.arrow-up:hover {
  top: 2%;
  left: 47%;
  font-size: 4em;
  opacity: 0.9;
}

.arrow-up-JS-hover{
  top: 2%;
  left: 47%;
  font-size: 4em;
  opacity: 0.9;
}

.arrow-right {
  top: 45%;
  right: 5%;
  width: 7%;
  text-align: right;
  transition: font-size 0.3s, top 0.3s, right 0.3s, opacity 0.3s;
}

.arrow-right:hover {
  top: 44%;
  right: 2%;
  font-size: 4em;
  opacity: 0.9;
}

.arrow-right-JS-hover {
  top: 44%;
  right: 2%;
  font-size: 4em;
  opacity: 0.9;
}

.arrow-down {
  bottom: 5%;
  left: 48%;
  transition: font-size 0.3s, bottom 0.3s, left 0.3s, opacity 0.3s;
}

.arrow-down:hover {
  bottom: 2%;
  left: 47%;
  font-size: 4em;
  opacity: 0.9;
}

.arrow-down-JS-hover {
  bottom: 2%;
  left: 47%;
  font-size: 4em;
  opacity: 0.9;
}

#map{
  width: 100px;
  height: 70px;
  background-color: #333333;
  position: fixed;
  top: 88%;
  left: 2%;
  border-radius: 10px;
  z-index: 1000;
  padding: 0;
  margin: 0;
  opacity: 0.6;
}

.dot {
  /* background-color: white; */
  width: 20px;
  height: 15px;
  border-radius: 3px;
  position: absolute;
  margin: 0;
  padding: 0;
  display: inline-block;
  z-index: 1200;
}

.dot-1 {
  background-color: #848484;
  top: 11%;
  left: 40%;
}

.dot-2 {
  background-color: #ffffff;
  top: 40%;
  left: 40%;
}

.dot-3 {
  background-color: #848484;
  top: 40%;
  left: 11%;
}

.dot-4 {
  background-color: #848484;
  top: 68%;
  left: 40%;
}

.dot-5 {
  background-color: #848484;
  top: 40%;
  left: 69%;
}



#center-window,
#right-window,
#top-window,
#bottom-window,
#left-window {
  margin: 0;
  padding: 100px 75px 25px 75px;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
}

#left-window {
  background-color: lightgreen;
}

#center-window {
  background-color: lightblue;
}

#right-window {
  background-color: lightpink;
}

#top-window {
  background-color: red;
}

#bottom-window {
  background-color: blue;
}
